.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: #efeff4;

    .bar {
        background: #ffffff;
        border: 1px solid #dddddd;
        box-sizing: border-box;
        border-radius: 4px;
        max-width: 480px;
        width:80%;
        padding: 13px 17px 13px 27px;
        height: 46px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }

}


@media screen and (max-width: 550px) {
    .search {
        flex-direction: column;

        .bar {
            width:90%;
            margin-bottom: 10px;
            margin-right: 0px;
        }
    }

}